* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.animation {
    height: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}


.glaive {
    width: 200px;
    height: 10px;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hand {
    background-color: rgb(218, 218, 218);
    height: 100%;
    width: 15%;
}

.sword {
    background-color: whitesmoke;
    height: 100%;
    width: 75%;
}

.element1 {
    transition: 1s;
}
.element2,
.element3 {
    transition: all 2s;
}

.animation:hover .element1 {
    transform: translateY(-60px);
    opacity: 0;
}

.animation:hover .element2 {
    transform: rotate(45deg);
}

.animation:hover .element3 {
    transform: rotate(-45deg) translateY(-40px);
}


.animation:hover .sword1 {
    background-color: rgba(170, 77, 150, 0.548);
    box-shadow: -5px 0 20px 5px rgba(201, 59, 177, 0.671);
    border-radius: 100%;
    transition: 3s;
    width: 83%;
    height: 80%;
}

.animation:hover .sword2 {
    background-color: rgba(0, 217, 255, 0.555);
    box-shadow: 5px 0 20px 5px rgba(115, 226, 211, 0.692);
    border-radius: 100%;
    transition: 3s;
    width: 83%;
    height: 80%;
}

.animation:hover .hand {
    border-radius: 2vh;
    transition: 1s;
}

