* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0%;
    margin: 0%;
    background: white;
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: auto;
    background-color: #ED4C5C;
    background-position: 0;
}

.container {
    display: inline-block;
    position: relative;
    width: 1640px;
    height: 500px;
    background-color: #ED4C5C;
}

.h1 {
    line-height: 43px;
    box-sizing: border-box;
    text-align: justify;
    font-weight: 700;
    font-size: 21px;
    width: 445px;
    height: 107px;
}

.text {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    font-weight: 400; 
    width: 445px;
    height: 64px;
    margin-top: 24px;
}

.cont-text {
    color: #FFFFFF;
    width: 100%;
    text-align: justify;
    width: 445px;
    height: 195px;
    margin-left: 165px;
    margin-top: 122px;
}

.picture {
    width: 50%;
}

.man_rest {
    width: 533px;
    height: 311px;
    left: 691px;
    top: 94px;
    position: absolute;
}

.icons {
    display: inline-block;
    position: absolute;
    width: 134px;
    height: 32px;
    left: 163px;
    top: 357px;
}

.icon1, .icon2, .icon3 {
    display: block;
    position: absolute;
}

.icon1 {
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
}

.icon2 {
    width: 32px;
    height: 32px;
    left: 55px;
    top: 0px;
}

.icon3 {
    width: 24px;
    height: 24px;
    left: 110px;
    top: 4px;
}

main {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    background-position: 0;
    position: relative;
    margin-bottom: 45px;
}

.main-cont-text {
    color: #000000;
    padding: 120px 81px 271px 165px;
    text-align: justify;
}

.main_txt {
    width: 434px;
    height: 64px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    font-weight: 400;
}

.main_h1 {
    font-size: 20px;
    line-height: 43px;
    font-weight: 700;
    width: 445px;
    height: 107px;
}

.main-container {
    width: 100%;
    height: auto;
    display: flex;
}

.contact-form {
    height: auto;
    display: flex;
    justify-content: center;
}

form {
    box-sizing: border-box;
    margin-left: 125px;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px 33px;
    cursor: pointer;
    color: white;
    margin-top: 12px;
}

input {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 12px 30px;
    margin-left: 0;
    padding: 20px;
    font-size: 16px; 
    padding-left: 25px;
}

#service {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 12px 15px;
    margin-left: 0;
    padding: 20px;
    padding-left: 25px;
    font-size: 16px; 
    color: rgba(19, 39, 67, 0.6);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url("pict/down-arrow.svg");
    background-position-x: 96%;
    background-position-y: center;
    background-size: 3%;
}



.phone-number {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    background-position: 0;
    position: relative;
}

.footer-container {
    display: inline-block;
    position: static;
    width: 1640px;
    height: 435px;
    background-color: #FAFAFA;
}

.col {
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 86px;
}

.pay {
    width: 216px;
    height: 31px;
    position: absolute;
    top: 80px;
    left: 10px;
}

.column1 {
    width: 259px;
    height: 264px;
    left: 161px;
}

.column2 {
    width: 254px;
    height: 164px;
    left: 450px;
}

.column3 {
    left: 734px;
}

.column4 {
    left: 1022px;
}

.column2, .column3 {
    line-height: 160%;
}

.fotter-text-1column {
    font-size: 12px;
    line-height: 170%;
    color: #101010;
    width: 170px;
    height: 54px;
    text-align: justify;
}


.h3 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
}

.head-footer-columns {
    box-sizing: border-box;
    display: inline-block;
}

.copywrite {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    position: absolute;
    bottom: 86px;
    left: 161px;
}

a:-webkit-any(link) {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000000;
}

p {
    font: inherit;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0; 
    padding-left: 0;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.in {
    margin-left: 14px;
    margin-right: 12px;
}

.footer-3col-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

form, button, input {
    font-family: 'Lato', sans-serif;
}