* {
    box-sizing: border-box;
    color: #505F98;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-image: url(img/designer_1.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

h1, h3, h5 {
    color: #091133;
    font-weight: 500;
    margin-bottom: 2vh;
}

a {
    color: #505F98;
}

.landie {
    font-weight: 900;
    color: #37447E;
    font-size: 3vh;
}

.landie1 {
    margin-right: 7vw;
}

.price {
    color: #222F65;
    font-size: 5vh;
}

.pricetxt {
    color: #5D6970;
    font-size: small;
    padding-top: 4vh;
}

.main-col {
    display: grid;
    row-gap: 25vh;
    width: 100%;
}

.flex-align-center {
    display: flex;
    align-items: center;
}


.btns {
    @extend .flex-align-center;
    width: 23vw;
    justify-content: space-between;
    height: 16vh;
}

button {
    @extend .flex-align-center;
    justify-content: center;
    padding: 0.4vh 1vw;
    width: 10vw;
    min-width: fit-content;
    white-space: nowrap;
    background-color: #111B47;
    color: whitesmoke;
    border: none;
    border-radius: 0.3vh;
}

button:hover,
button:focus,
button:active {
    background-color: #46bbff;
    outline: none;
    text-decoration-line: none;
    box-shadow: none;
}

a:hover,
a:focus,
a:active {
    color: #46bbff;
    outline: none;
    text-decoration-line: none;
    box-shadow: none;
}

.second-btn {
    background-color: transparent;
    border: solid 2px #091133;
    color: #091133;
    padding: 0.2vh 1vw;
    margin-left: 1vw;
}

.gridrow {
    @extend .flex-align-center;
    flex-direction: row;
    gap: 5vw;
    .mini-textBoxes {
        display: flex;
        flex-direction: row;
        font-size: x-small;
        color: #5D6970;
            img {
                width: 18%;
            }
    }
}

.gridcol {
    @extend .flex-align-center;
    flex-direction: column;
    row-gap: 20vh;
    .mini-box {
        @extend .flex-align-center;
        flex-direction: row;
        gap: 5vw;
            .content {
                display: inherit;
                flex-direction: column;
                gap: 2vh;
            }
    }
}

// containers containers containers

nav {
    @extend .flex-align-center;
    justify-content: space-between;
    width: 25%;
}

.navbar {
    padding-top: 2%;
}

.firstcont {
    height: 80vh;
    @extend .flex-align-center;
    margin-bottom: 30vh;
}

.textplace {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

footer {
    @extend .flex-align-center;
    justify-content: center;
    height: 80vh;
    background-image: url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer-content {
    @extend .flex-align-center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
    gap: 1vh;
}

.footer-end {
    background: #E7ECFF;
        .footer-leg, .fotter-nav {
            @extend .flex-align-center;
            flex-direction: row;
        }
        .footer-leg {
            padding: 5vh 0;
            @extend .flex-align-center;
            justify-content: space-between;
                .legElement1 {
                    color: #939EA4;
                }
        }
        .fotter-nav {
            padding: 3vh 0;
            border-top: solid 1px #CDD1D4;
            @extend .flex-align-center;
            justify-content: space-between;
                .social-media-links {
                    @extend .flex-align-center;
                    justify-content: space-between;
                    width: 20%;
                        img:hover {
                            width: 1vw;
                        }
                }
        }
}

// responsive responsive responsive responsive responsive responsive

@media screen and (max-width: 991px) {
body {
    width: fit-content;
    .main-col {
        row-gap: 10vh;
    }
}

.navitem {
    margin-right: 3vw;
}
    
.firstcont {
    margin-bottom: 0;
    .frstimg {
        margin-left: 8vw;
    }
}

.gridcol, .gridrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    .textplace {
        justify-content: center;
        align-items: center;
    }
    .mini-box {
        flex-direction: column;
        .content{
            justify-content: center;
            align-items: center;
        }
        .pict-place {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.gridrow {
    flex-direction: column-reverse;
}

}

@media screen and (max-width: 600px) {
    body {
        background-size: auto;
        background-position: unset;
        .footer-leg, .fotter-nav {
            width: 85%;
        }
    }

}