* {
    box-sizing: border-box;
}

body, html {
    background-color: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    color: #4B5D68;
    font-family: 'Avenir', 'Helvetica';
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 8%;
    vertical-align: baseline;
    max-width: 1600px;
    max-height: 4500px;
}

@font-face{
    font-family: 'Helvetica';
    src: url(fonts/helvetica.ttf);
    font-family: 'Avenir';
    src: url(fonts/Avenir-Roman.ttf);
    font-weight: normal;
    font-style: normal;
    }

p {
    margin: 0;
}

a { 
    text-decoration: none;
    color: #4B5D68;
}

.bold {
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    font-family: 'Avenir';
}

.navbar {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.nav {
    margin-right: 3%;
}

.logo {
    margin-right: 10%;
}

.request {
    margin-left: 30%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

#arrow-right {
    margin-left: 20px;
}

/* head */

.headimg>img {
    width: 885px;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 603px;
    top: 336px;
}

h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}

.flex-text {
    margin-top: 3%;
    width: 645px;
    max-height: 754px;;
}

.toptext {
    width: 380px;
    height: 120px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.learn-more {
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 50px;
}

.top {
    margin-bottom: 100px;
}


/* down */
.down {
    margin-top: 100px;
}

.down-box {
    max-width: 1117px;
    max-height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.head-down-image>img {
    width: 477px;
    height: 504px;
}

.head-down-text {
    width: 475px;
    height: 310px;
    margin-right: 93px;
}

.h2-WeAre {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.h2toptext {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
