* {
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    font-family: 'Avenir', 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
    max-width: 1600px;
    max-height: auto;
    margin-left: 6%;
}

@font-face{
    font-family: 'Helvetica';
    src: url(fonts/helvetica.ttf);
    font-family: 'Avenir';
    src: url(fonts/Avenir-Roman.ttf);
    font-weight: normal;
    font-style: normal;
    }

p {
    margin: 0;
}

a { 
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.bold {
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    font-family: 'Avenir';
}

.navbar {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-top: 60px;
}

.nav {
    margin-right: 3%;
}

.navbar .nav:hover,
.navbar .nav:visited,
.navbar .nav:active {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #505157;
}


.logo {
    margin-right: 10%;
}

.request {
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgb(75 93 104 / 10%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

#arrow-right {
    margin-left: 20px;
}

/* head */

h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}

.flex-text {
    width: 645px;
    max-height: 754px;;
}

.toptext {
    width: 380px;
    height: 120px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.learn-more {
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 50px;
}

.learn-more:hover {
    background: #b582fc;
    box-shadow: 0 5px 5px rgb(149, 110, 255);
    color:rgb(255, 203, 244)
}

.top {
    width: 1250px;
    height: 750px;
    margin-top: 0px;
    padding: 0;
    background-image: url(images/head/image1.png);
    background-size: 885px;
    background-repeat: no-repeat;
    background-position: 360px 260px;
    color: #4B5D68;
}


/* down */
.down {
    margin-top: 100px;
}

.down-box {
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.head-down-image>img {
    width: 477px;
    height: 504px;
}

.head-down-text {
    margin-bottom: 10%;
    width: 475px;
    height: 310px;
    margin-right: 93px;
}

.h2-WeAre {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.h2toptext {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}


.main-cont {
    max-width: 1136.85px;
    max-height: 1002.06px;
}

.title {
    width: 584px;
    height: 160px;
    margin-top: 149px;
    margin-right: 10%;
}

.postheader-title>h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.postheader-title-text>p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}

.learn-more-main {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.learn-more-main:hover,
.arrow-right {
    font-size: 18px;
}

.img>img {
    width: 232px;
    height: auto;
}

.purple-box {
    width: 1118px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    margin-top: 175px;
}

.john-box {
    width: 949px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
    margin-top: 75px;
    padding: 60px 103px 50px 103px;
    gap: 45px;
    font-family: 'Avenir', sans-serif;
}

.purple-box-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 130%;
    color: #FFFFFF;
}

.john-image>img {
    width: 134px;
}

.testimonials {
    margin: 90px 75px 60px 90px;;
}

.head-down-text>a {
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}

.head-down-text>h4 {
    height: 29px;
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    margin-top: 20px;
}

.john-text {
    width: 566px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.john-sliderbox {
    margin-top: 50px;
    height: 15px;
}

.l-r-arrows>button {
    background: none;
    border: none;
    cursor: pointer;
}

.left:hover {
    font-size: 20px;
}

.spans:hover {
    font-size: 20px;
}

.johnlink:hover {
    box-shadow: 0 1px 0 mediumorchid;
}

.prl-line {
    width: 100%;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* footer */

.footer-block {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
}

.footer-text>h2 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.footer-text>p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.pink-btn {
    background: #F063B8;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.white-btn {
    height: 60px;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px 5px rgb(75 93 104 / 10%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 17px 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.footer-navigation {
    color: #212353;
    width: 90%;
}

.nav-titles {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
}

.footre-logo {
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
}

.nav-columns>a {
    font-family: 'Avenir';
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
}

.nav-columns>p {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.adress {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.mail-margin {
    margin-top: 5px;
}

.mailbox {
    margin-top: 20px;
}

.ending-bar {
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    margin-bottom: 91px;
    margin-top: 90px;
}

.pink-btn:hover {
    background: #b582fc;
    box-shadow: 0 5px 5px rgb(119, 119, 119);
    color:rgb(255, 203, 244);
}

.white-btn:hover {
    background: #e1ccff;
    box-shadow: 0 5px 5px rgb(119, 119, 119);
    color:rgb(44, 31, 41);
}

.nav-col:hover {
    font-size: 20px;
}

.fb, .ig, .tw, .support {
    border-radius: 50%;
}

.fb:hover {
    background-color: rgb(51, 53, 167);
}

.ig:hover {
    background-color: rgb(201, 105, 201);
}

.tw:hover {
    background-color: rgb(105, 106, 170);
}

.support:hover {
    background-color: rgb(92, 46, 80);
    width: 65px;
}

button:active,
button::after,
button::before,
button:focus {
    outline: none;
    direction: none;
    text-decoration-line: none;
    box-shadow: none;
}