
* {
    box-sizing: border-box;
}

@media screen and (max-width: 750px) {
    .bluelogo {
        size: 100vh;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .firstcont {
        background-image: none;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: 100%;
    }
    .text-column {
        width: 80%;
        text-align: center;
    }

    .thirdcont {
        background-position: bottom;
        background-size: 100em;
        background-position-x: -57rem;
        background-position-y: 55rem;
    }

    .mobile-salah {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .salah {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bell {
        left: 22vw;
        bottom: 28vh;
    }
    
    .screen {
        display: none;
    }

    .mobile-item {
        right: 12vw;
        top: 20vh;
    }

    .ellipse {
        display: none;
    }
    

    .cardcontenttxt {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vh;
        width: 20vw;

    }

    .blue-cont {
        background: #FAFAFA;

    }

    .card {
        width: 20rem; 
        height: 15rem;
    }

    .cardcontenttxt>p {
        width: 10vw;
    }

    .blue-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blue-cont {
        color:#4F4F4F;
    }

    li {
        list-style-type: none;
    }

    .mini-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headbtn {
        width: 48%;
    }

    .head-btns {
        width: 100%;
        justify-content: space-between;
    }

    .btn-txt>p {
        font-size: 1.3vh; 
    }

    .gplay-logo {
        width: 15%;
    }

    .mini-boxes>img {
        min-width: 10vw;
        max-width: 15vw;
    }

    .bluelogo path {
        fill: #00ADEE;
    }

    .testimonial, .leftarrow {
        display: none;
    }

    .Darren {
        display: flex;
        align-items: center;
        width: 70%;
        text-align: start;
        gap: 2vh;
    }

    .scrollarrows {
        justify-content: flex-end;
        width: 85%;
    }

    .card-footer {
        width: 18rem;
    }

    .tvlogos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1vh;
    }

    .seventhcont {
        display: flex;
        flex-direction: column-reverse;
    }

    .footpic {
        width: 100%;
    }

    .lastcont {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: none;
        text-align: none;
        background-size: 100%;
        height: 30vh;
        gap: 5vh;
    }

    .footlogos {
        display: flex;
        gap: 2vw;
    }

    .navigator {
        display: flex;
        gap: 5vw;
    }

    .footertext {
        margin: 0;
        padding: 0;
    }
    
    .mobile-item {
        display: flex;
    }



@media screen and (max-width: 450px) {
    .salahitems {
        display: none;
    }
    .cardcontenttxt>p {
        width: 50vw;
    }
    
    .card {
        width: 18rem; 
        height: 13rem;
    }

    .mb-3, .my-3 {
        margin-bottom: -2rem!important;
        margin-left: -1rem;
    }

    .lastcont {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    
    .ball-logo {
        justify-content: flex-start;
        width: 93vw;
    }

    .footlogos {
        justify-content: flex-start;
        width: 93vw;
    }

    .navigator {
        display: flex;
        order: 3;
        padding-top: 5vh;
    }